body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
    color:rgba(0, 0, 0, 0.712);
}
.link-button{
    text-decoration:none;
    width: 30px;
    font-size: 20px;
    font-weight: 800;
    background-image:linear-gradient(tomato,salmon);
    padding: 20px 50px;
    color: whitesmoke;
    border-radius: 30px;
}
.color{
    color: orangered;
}
.felxible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding:5% ;
}
.half-width img{
    width:500px;
    border-radius:9px;
}
.anchore{
    padding-top:5px;
}
.link{
    padding-right:15px;
    padding-top: 3px;
}
.rong{
    color:orange;
}
.banner{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    margin: 0;
}
.photo-size img{
    width:55%;
    height:82%;
    padding-left:40%;
    padding-bottom:43%;

}
.text-edit{
    padding-left:80px ;
    padding-bottom:20%;
    padding-right:10%;
}
   

